.container{

width: 500px;
height: 600px;
background-color: aqua;
border-radius: 50px;


}
input[type=text]{

width: 300px;

}
.child{


}
#child1{

}
#child2{

}
#child2{
    margin-top: 86px;
}
#child3{
    margin-top: 86px;

}
#parent{
    position: relative;
    top: 90px;
}